#camp_Scheduele .sfm_textbox
{
    padding:1px;
}
#camp_Scheduele .sfm_textarea
{
    padding:2px;
    resize:none;
}
#camp_Scheduele .error_strings
{
    font-family:Verdana;
    font-size:12px;
    color:#660000;
}
#camp_Scheduele img
{
    border:0;
}
#camp_Scheduele .loading_div
{
    background-color:transparent;
    background-image:url("images/loading.gif");
    background-position:center center;
    background-repeat:no-repeat;
}
#camp_Scheduele input[type='submit'],input[type='reset']
{
    font:inherit;
    color:inherit;
}
#camp_Scheduele .sfm_cr_box
{
    font-family:Verdana;
    font-size:10px;
    color:#888888;
}
#camp_Scheduele .sfm_cr_box a
{
    color:#888888;
}
#camp_Scheduele .sfm_slider
{
    margin:0;
    display:inline-bock;
}
#camp_Scheduele .slider_label
{
    padding-top:5px;
    padding-left:3px;
    overflow:visible;
    display:inline-block;
}
#camp_Scheduele .form_outer_div
{
    margin:0 auto;
    border:none;
    background-color:#ffffff;
}
#camp_Scheduele .sfm_form_label
{
    background-color:transparent;
}
#camp_Scheduele .element_label
{
    background-color:transparent;
}
body#sfm_camp_Scheduele_body
{
    background-color:#00ff00;
    font-family:Arial;
    font-size:12px;
    color:#000000;
    margin:0px;
}
#camp_Scheduele .form_outer_div
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
}
#camp_Scheduele .form_subheading
{
    background-color:transparent;
    margin:0;
    padding:0;
}
#camp_Scheduele .sfm_float_error_box
{
    font-family:Verdana;
    font-size:12px;
    color:#eeeeee;
    background:none repeat scroll 0 0 #333333;
    border:0;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow:0 0 4px #333;
    border:none;
}
#camp_Scheduele .sfm_close_box
{
    font-family:Verdana;
    font-size:12px;
    color:#eeeeee;
}
#camp_Scheduele .progress_box_container
{
    border:1px solid #8e8e8e;
    background-color:#cccccc;
    font-family:Arial;
    font-size:10px;
    color:#ffffff;
    text-align:center;
    vertical-align:middle;
}
#camp_Scheduele .progress_box
{
    background-color:#333333;
    width:2px;
    float:left;
    margin:2px;
}
#camp_Scheduele .page_heading
{
    background-color:transparent;
    margin:0;
    padding:0;
}
#camp_Scheduele .page_number
{
    background-color:transparent;
}
#camp_Scheduele input[type='text'],input[type='password'],input[type='email'],input[type='tel'],input[type='number']
{
    background-color:#ffffff;
    border:1px solid #888888;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    height:23px;
    line-height:23px;
}
#camp_Scheduele textarea
{
    background-color:#ffffff;
    border:1px solid #888888;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}


#camp_Scheduele #tea0b23c7510b4c8c8694
{
    width:5px;
    height:5px;
    display:none;
}
#camp_Scheduele #label_container
{
    z-index:1;
}
#camp_Scheduele #label1_container
{
    z-index:3;
}
#camp_Scheduele #Name_container
{
    z-index:2;
}
#camp_Scheduele #Name
{
    float:left;
    z-index:2;
}
#camp_Scheduele #label2_container
{
    z-index:5;
}
#camp_Scheduele #Email_container
{
    z-index:4;
}
#camp_Scheduele #Email
{
    float:left;
    z-index:4;
}
#camp_Scheduele #label3_container
{
    z-index:7;
}
#camp_Scheduele #Phone_container
{
    z-index:6;
}
#camp_Scheduele #Phone
{
    float:left;
    z-index:6;
}
#camp_Scheduele #label4_container
{
    z-index:9;
}
#camp_Scheduele #DatePicker_container
{
    z-index:8;
}
#camp_Scheduele #DatePicker
{
    float:left;
    z-index:8;
    margin:0px;
}
#camp_Scheduele #DatePicker_image_container
{
    float:left;
    z-index:8;
    height:100%;
    position:relative;
}
#camp_Scheduele #label5_container
{
    z-index:12;
}
#camp_Scheduele #Horario_container
{
    z-index:11;
}
#camp_Scheduele #Horario
{
    float:left;
    z-index:11;
}
#camp_Scheduele #Submit_container
{
    z-index:10;
}
#camp_Scheduele #camp_Scheduele_Submit_img
{
    width:84px;
    height:29px;
    border:none;
}

#camp_Scheduele #camp_Scheduele_outer_div_p1
{
    width:300px;
    height:400px;
}
#camp_Scheduele #label_container
{
    position:absolute;
    left:90px;
    top:24px;
}
#camp_Scheduele #label_container
{
    width:109px;
    height:34px;
}
#camp_Scheduele #label
{
    position:absolute;
    top:10px;
    right:0px;
    text-align:right;
}
#camp_Scheduele #label1_container
{
    position:absolute;
    left:64px;
    top:64px;
}
#camp_Scheduele #label1_container
{
    width:60px;
    height:20px;
}
#camp_Scheduele #label1
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#camp_Scheduele #Name_container
{
    position:absolute;
    left:144px;
    top:64px;
}
#camp_Scheduele #Name
{
    width:114px;
    height:19px;
}
#camp_Scheduele #label2_container
{
    position:absolute;
    left:64px;
    top:96px;
}
#camp_Scheduele #label2_container
{
    width:60px;
    height:20px;
}
#camp_Scheduele #label2
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#camp_Scheduele #Email_container
{
    position:absolute;
    left:144px;
    top:96px;
}
#camp_Scheduele #Email
{
    width:114px;
    height:19px;
}
#camp_Scheduele #label3_container
{
    position:absolute;
    left:72px;
    top:128px;
}
#camp_Scheduele #label3_container
{
    width:60px;
    height:20px;
}
#camp_Scheduele #label3
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#camp_Scheduele #Phone_container
{
    position:absolute;
    left:144px;
    top:128px;
}
#camp_Scheduele #Phone
{
    width:114px;
    height:19px;
}
#camp_Scheduele #label4_container
{
    position:absolute;
    left:72px;
    top:160px;
}
#camp_Scheduele #label4_container
{
    width:60px;
    height:20px;
}
#camp_Scheduele #label4
{
    position:absolute;
    top:0px;
    right:0px;
    text-align:right;
}
#camp_Scheduele #DatePicker_container
{
    position:absolute;
    left:144px;
    top:160px;
    width:140px;
    height:25px;
}
#camp_Scheduele #DatePicker
{
    width:99px;
    height:19px;
}
#camp_Scheduele #DatePicker_image_container
{
    width:24px;
}
#camp_Scheduele #DatePicker_image
{
    position:absolute;
    top:50%;
    margin-top:-13px;
    margin-left:1px;
}
#camp_Scheduele #label5_container
{
    position:absolute;
    left:72px;
    top:192px;
}
#camp_Scheduele #label5_container
{
    width:60px;
    height:20px;
}
#camp_Scheduele #label5
{
    position:absolute;
    top:0px;
    right:0px;
    text-align:right;
}
#camp_Scheduele #Horario_container
{
    position:absolute;
    left:144px;
    top:192px;
}
#camp_Scheduele #Horario
{
    width:114px;
    height:19px;
}
#camp_Scheduele #Submit_container
{
    position:absolute;
    left:112px;
    top:232px;
    width:80px;
    height:25px;
}
